.Contacts
{
	@extend %Control-Right;


	p
	{
		margin-bottom : 10px;
		font-size     : 16px;
	}

	@at-root .Contacts-Map
	{

		margin : 25px 0;
		border : 2px solid #ffc340;
	}

	@at-root .Contacts-Form
	{
		font-size   : 0;
		padding-top : 10px;
		& > div
		{

			@include Adaptive('>=tablet')
			{
				display        : inline-block;
				width          : 48%;
				vertical-align : top;
			}
		}

		div:first-of-type
		{

			@include Adaptive('>=tablet')
			{
				margin-right : 4%;
			}
		}


		input
		{
			@extend %Control-Input;
		}

		textarea
		{
			@extend %Control-Textarea;
		}

		button
		{
			@extend %Button-Base;
			@extend %Button-Wide;
			@extend %Button-Nice;
			border  : 1px solid #777;
			padding : 8px;
			&:hover{
				border     : 1px solid transparent;
			}
		}
	}

	@at-root .JS-Form-Result {
		font-size: 16px;
		width: 100% !important;
		text-align: center;
		color: #9D7A3C;
	}
}
