.Masters
{
	font-size : 0;
	@extend %Control-Right;
	@at-root .Master-Wrap
	{
		padding : 0 15px 15px;
		text-align     : center;
		@include Adaptive('>=tablet')
		{
			display        : inline-block;
			vertical-align : top;
			width          : 50%;
		}

		@include Adaptive('>=1000px')
		{
			display    : block;
			width      : 100%;
			padding : 0 0 15px;
			text-align : left;
		}

		h4
		{
			@extend %Uppercase;
			color  : #9d460c;
			margin : 0 0 10px;
		}

		img
		{
			max-width      : 100%;
			width          : 220px;
			height         : 160px;
			vertical-align : top;
			border         : 1px solid #e0be80;
		}

		div
		{
			margin : 10px 0 0;
			@include Adaptive('>=1000px')
			{
				max-width      : 420px;
				display        : inline-block;
				margin         : 0 0 0 20px;
				vertical-align : top;
			}
		}

		h4 + p
		{
			margin-bottom : 15px;
		}

		p + p
		{
			margin-bottom : 10px;
		}

		p
		{
			font-size   : 14px;
			line-height : 18px;
		}
	}

}