.New
{
	@extend %Control-Right;
	h4
	{
		margin : 0 0 14px;
	}
	span{
		font-weight: normal;
	}
	p
	{
		color         : #000;
		line-height   : 18px;
		font-size     : 14px;
		margin-bottom : 10px;
	}
	p:last-of-type
	{
		padding-top : 20px;
	}
}