.Photogallery
{
	font-size : 0;

	@at-root .Photo-Wrap
	{

		display : inline-block;
		width   : 50%;
		height  : 37vw;
		padding : 10px;

		@include Adaptive('>=ipad-P')
		{
			padding : 20px;
			width   : 33.3%;
			height  : 25vw;
		}

		@include Adaptive('>=1000px')
		{
			height : 170px;
		}

		@at-root .Photo
		{
			@extend %Control-Base-Brown;
			height     : 100%;
			background : url("../img/gotti_m.jpg") no-repeat center / cover;
			cursor     : pointer;
		}
	}

}