.Prices
{
	@extend %Control-Right;
	div + div
	{
		border-top : none;
	}

	@at-root .Price-List
	{
		@extend %Control-Base-Brown-2;

		.Menu-Button
		{
			cursor: pointer;
		}

		div:first-of-type
		{
			h4
			{
				display : inline-block;
				margin  : 5px 0;
			}
			background : #f2deb9;
			padding    : 5px 10px 5px;
			@include Adaptive('>=tablet'){
				padding    : 5px 10px 5px 30px;

			}
			svg
			{
				float            : right;
				width            : 17px;
				height           : 15px;
				padding          : 5px;
				fill             : #9d460c;
				cursor           : pointer;
				transform-origin : center center;
				transform        : rotate(90deg);
			}
		}
		div + div{
			overflow: hidden;
		}

		div + div article
		{

			padding    : 10px;
			background : #fff8e8;
			@include Adaptive('>=tablet'){
				padding    : 10px 30px;

			}
			h4
			{
				margin : 0 0 10px;
			}

		}

		ul
		{
			font-size : 0;
			padding   : 10px 0 0 10px;
		}

		strong
		{
			font-size : 16px;
		}

		li
		{
			display   : inline-block;
			width     : 50%;
			font-size : 15px;
		}

		li:nth-of-type(2n)
		{
			text-align : center;
		}

	}

}