.Saloon
{
    @extend %Control-Right;
    position: relative;
    z-index:  1;
    overflow: visible;
    h1
    {
        @extend %Unselectable;
        @extend %Unclickable;
        margin: 0 0 22px;
    }
    p:last-of-type
    {
        margin-top: 20px;
    }
    @at-root .Saloon-Slide
    {
        padding:  0;
        margin:   0;
        overflow: hidden;

        height:   60vw;




        @include Adaptive('>=1000px')
        {
            height: 460px;
        }

        li
        {
            position:   absolute;
            width:      100%;
            height:     100%;

            list-style: none;
            background: url("/img/gotti2.jpg") no-repeat center / cover;
        }

    }
    @at-root .sign_holder
    {
        text-align: right;
        margin-top: 30px;
    }
    @at-root .Director-Sight
    {
        display: block;
        width:   160px;
        margin:  10px 13px 0 auto;

    }
}