.Services
{
	font-size : 0;
	@at-root .Service-Content
	{
		padding    : 10px 10px 35px;
		text-align : justify;
		vertical-align: top;
		@include Adaptive('>=nexus-6')
		{
			display : inline-block;
			width   : 50%;
			padding : 20px;
		}

		@include Adaptive('>=ipad-P')
		{
			display : inline-block;
			width   : 33.3%;
		}

		h4
		{
			margin     : 15px 0 10px;
			text-align : center;
		}

		p
		{
			line-height   : 22px;
			margin-bottom : 5px;
			@include Adaptive('>=nexus-6')
			{
				margin-bottom : 20px;
			}
		}

		@at-root .Service-Top
		{
			@extend %Control-Base-Brown;
			height     : 60vw;
			background : url("../img/bg-service.jpg") no-repeat center / cover ;
			@include Adaptive('>=nexus-6')
			{
				height : 29vw;
			}

			@include Adaptive('>=ipad-P')
			{
				height : 19vw;
			}

			@include Adaptive('>=1000px')
			{
				height : 160px;
			}

		}
		a
		{
			@extend %Button-Nice;
			@extend %Button-Base-Low;
			@extend %Form-Rounded;
			font-size       : 14px;
			float           : right;
			text-decoration : underline;
			&:hover
			{
				text-decoration : none;
			}
		}
	}

}