@font-face {
	font-family: 'flexslider-icon';
	src: url('../fonts/flexslider-icon.eot');
	src: url('../fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'), url('../fonts/flexslider-icon.woff') format('woff'), url('../fonts/flexslider-icon.ttf') format('truetype'), url('../fonts/flexslider-icon.svg#flexslider-icon') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'AnastasiaScript';
	src: url('../fonts/AnastasiaScript.eot');
	src: local('вє'), url('../fonts/AnastasiaScript.woff') format('woff'),
	url('../fonts/AnastasiaScript.ttf') format('truetype'),
	url('../fonts/AnastasiaScript.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'boecklins_universe';
	src: url('../fonts/boecklins_universe.eot');
	src: local('вє'), url('../fonts/boecklins_universe.woff') format('woff'),
	url('../fonts/boecklins_universe.ttf') format('truetype'),
	url('../fonts/boecklins_universe.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@import url(http://fonts.googleapis.com/css?family=Lobster);