// ----------
%Transition-Std
{
	transition : background-color linear .2s, color linear .2s;
}

// ----------
%Form-Circle
{
	border-radius : 50%;
}

%Form-Rounded
{
	border-radius : 5px;
}

// ----------

// ----------
%Button-Base
{
	text-transform : uppercase;
	padding        : 10px;
	cursor         : pointer;
	font-size      : 18px;
}

%Button-Base-Low
{
	padding   : 10px;
	cursor    : pointer;
	font-size : 18px;
}

%Button-Wide
{
	@extend %Button-Base;
	width : 100%;
}

%Button-Brown
{
	@extend %Transition-Std;
	color            : #9d460c;
	background-color : #e0be80;
	&:hover
	{
		@extend %Transition-Std;
		color            : #e0be80;
		background-color : #9d460c;
	}
}

%Button-Purple
{
	color            : white;
	background-color : #490037;
}

%Unclickable
{
	cursor : default;
}

%Unselectable
{
	& *::selection
	{
		background-color : transparent;
	}
	&::selection
	{
		background-color : transparent;
	}

}

// ----------

%Control-Base
{
	border : 1px solid #777;
}

%Control-Base-Brown
{
	border : 1px solid #ffc340;
}

%Control-Base-Brown-2
{
	border : 2px solid #9d460c;
}

%Input-Base
{
	@extend %Control-Base;
	width         : 100%;
	margin-bottom : 20px;
	font-style    : italic;

	&:focus
	{
		border : 1px solid #e0be80;
	}
}

%Control-Input
{
	@extend %Input-Base;
	height     : 38px;
	padding    : 0 10px;
	box-sizing : border-box;
}

%Control-Textarea
{
	@extend %Input-Base;
	height  : 96px;
	resize  : none;
	padding : 10px;
}

h3
{
	@extend %Heading-Center;
	@extend %Unclickable;
}

%Uppercase
{
	text-transform : uppercase;
}

%Line-Bottom
{
	border-bottom : 1px solid $Color-Line;
}

%Line-Top
{
	border-top : 1px solid $Color-Line;
}

%Width-Content
{
	max-width : 1024px;
	margin    : 0 auto;
}

%Control-Right-Base
{
	padding  : 5px 0 0 0;
	overflow : hidden;
	div
	{
		box-sizing : border-box;
	}

}

%Control-Right
{
	@extend %Control-Right-Base;
	@include Adaptive('>=1000px')
	{
		float : right;
		width : 700px;
	}
}

%Control-Right-Wide
{
	@extend %Control-Right-Base;
	@include Adaptive('>=1000px')
	{
		float : right;
		width : 740px;
	}
}

%Button-Nice
{
	@extend %Transition-Std;
	background : transparent;
	&:hover
	{
		transition : gradient linear .6s;
		color      : white;
		background : rgba(235, 205, 153, 1);
		background : -moz-linear-gradient(-45deg, rgba(235, 205, 153, 1) 0%, rgba(235, 205, 153, 1) 0%, rgba(235, 205, 153, 1) 25%, rgba(226, 195, 140, 1) 30%, rgba(199, 165, 102, 1) 45%, rgba(199, 165, 102, 1) 50%, rgba(199, 165, 102, 1) 60%, rgba(211, 178, 119, 1) 65%, rgba(235, 205, 153, 1) 75%, rgba(235, 205, 153, 1) 80%, rgba(235, 205, 153, 1) 100%);
		background : -webkit-gradient(left top, right bottom, color-stop(0%, rgba(235, 205, 153, 1)), color-stop(0%, rgba(235, 205, 153, 1)), color-stop(25%, rgba(235, 205, 153, 1)), color-stop(30%, rgba(226, 195, 140, 1)), color-stop(45%, rgba(199, 165, 102, 1)), color-stop(50%, rgba(199, 165, 102, 1)), color-stop(60%, rgba(199, 165, 102, 1)), color-stop(65%, rgba(211, 178, 119, 1)), color-stop(75%, rgba(235, 205, 153, 1)), color-stop(80%, rgba(235, 205, 153, 1)), color-stop(100%, rgba(235, 205, 153, 1)));
		background : -webkit-linear-gradient(-45deg, rgba(235, 205, 153, 1) 0%, rgba(235, 205, 153, 1) 0%, rgba(235, 205, 153, 1) 25%, rgba(226, 195, 140, 1) 30%, rgba(199, 165, 102, 1) 45%, rgba(199, 165, 102, 1) 50%, rgba(199, 165, 102, 1) 60%, rgba(211, 178, 119, 1) 65%, rgba(235, 205, 153, 1) 75%, rgba(235, 205, 153, 1) 80%, rgba(235, 205, 153, 1) 100%);
		background : -o-linear-gradient(-45deg, rgba(235, 205, 153, 1) 0%, rgba(235, 205, 153, 1) 0%, rgba(235, 205, 153, 1) 25%, rgba(226, 195, 140, 1) 30%, rgba(199, 165, 102, 1) 45%, rgba(199, 165, 102, 1) 50%, rgba(199, 165, 102, 1) 60%, rgba(211, 178, 119, 1) 65%, rgba(235, 205, 153, 1) 75%, rgba(235, 205, 153, 1) 80%, rgba(235, 205, 153, 1) 100%);
		background : -ms-linear-gradient(-45deg, rgba(235, 205, 153, 1) 0%, rgba(235, 205, 153, 1) 0%, rgba(235, 205, 153, 1) 25%, rgba(226, 195, 140, 1) 30%, rgba(199, 165, 102, 1) 45%, rgba(199, 165, 102, 1) 50%, rgba(199, 165, 102, 1) 60%, rgba(211, 178, 119, 1) 65%, rgba(235, 205, 153, 1) 75%, rgba(235, 205, 153, 1) 80%, rgba(235, 205, 153, 1) 100%);
		background : linear-gradient(135deg, rgba(235, 205, 153, 1) 0%, rgba(235, 205, 153, 1) 0%, rgba(235, 205, 153, 1) 25%, rgba(226, 195, 140, 1) 30%, rgba(199, 165, 102, 1) 45%, rgba(199, 165, 102, 1) 50%, rgba(199, 165, 102, 1) 60%, rgba(211, 178, 119, 1) 65%, rgba(235, 205, 153, 1) 75%, rgba(235, 205, 153, 1) 80%, rgba(235, 205, 153, 1) 100%);
		filter     : progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebcd99', endColorstr='#ebcd99', GradientType=1);

	}
}

