html
{

	h1, h2, h3, h4, h5
	{
	}
}

input, textarea
{
	box-sizing : border-box;
}

input[type="checkbox"]
{
	margin : 0;
}

h4
{
	font-size : 16px;
}

a
{
	text-decoration : none;
	cursor          : pointer;
}

dt, dd
{
	margin         : 0 0 8px;
	vertical-align : middle;
}

body
{
}

button
{
	outline : none;
}

input:focus, textarea:focus, select:focus
{
	outline : none;
}

main
{
	//	$header-height-1: 59px;
	//	$footer-height-1: 335px;
	//	min-height: calc(100vh - #{$header-height-1 + $footer-height-1});
	//	@include Adaptive('>=tablet')
	//	{
	//
	//		$footer-height-2: 335px;
	//		min-height: calc(100vh - #{$header-height-1 + $footer-height-2});
	//	}
	//	@include Adaptive('>=700px')
	//	{
	//
	//		$footer-height-3: 718px;
	//		min-height: calc(100vh - #{$header-height-1 + $footer-height-3});
	//	}
	//	@include Adaptive('>=ipad-L')
	//	{
	//		$footer-height-4: 418px;
	//		min-height: calc(100vh - #{$header-height-1 + $footer-height-4});
	//	}
	//	@include Adaptive('>=ipad-L')
	//	{
	//		$footer-height-4: 418px;
	//		$header-height-2: 279px;
	//		min-height: calc(100vh - #{$header-height-2 + $footer-height-4});
	//	}
}

//
//::-webkit-scrollbar
//{
//	width : 10px;
//}
//
//::-webkit-scrollbar-track
//{
//	background : #dbccd7;
//}
//
//::-webkit-scrollbar-thumb
//{
//	background : #490037;
//}




