
html
{
    height: 100%;
}

body
{
    height:      100%;
    margin:      0;
    color:       #110b08;
    font:        14px Arial, Helvetica, sans-serif;
    line-height: 17px;
    background:  url(../img/bg.jpg) repeat 50% 0;
}

img
{
    border-style:   none;
    vertical-align: top;
}

a
{
    color:   #000;
    outline: none;
}

a:hover
{
    text-decoration: none;
}

input, textarea, select
{
    font:           14px Arial, Helvetica, sans-serif;
    vertical-align: middle;
}

form, fieldset
{
    margin:       0;
    padding:      0;
    border-style: none;
}

h1
{
    font:        42px 'AnastasiaScript', sans-serif;
    padding:     0;
    color:       #9d460c;
    margin:      0 0 22px;
    line-height: 42px;
    @include Adaptive('>=tablet')
    {
        font:        56px 'AnastasiaScript', sans-serif;
        line-height: 56px;
    }
}

h2
{
    font:        38px 'AnastasiaScript', sans-serif;
    padding:     0;
    color:       #9d460c;
    margin:      0 0 16px;
    line-height: 24px;
    @include Adaptive('>=tablet')
    {
        font: 42px 'AnastasiaScript', sans-serif;
    }
}

h3
{
    color:         #110b08;
    padding:       0;
    margin:        0 0 25px;
    font-size:     20px;
    line-height:   28px;
    border-bottom: 3px #e0be80 solid;
    display:       inline-block;
}

p
{
    margin:      0 0 10px;
    font:        15px Arial, Helvetica, sans-serif;
    line-height: 22px;
    color:       #110b08;
}

header,
nav,
section,
article,
aside,
footer,
figure,
menu,
dialog
{
    display: block;
}

.wrapper
{
    padding:             0 7px;
    position:            relative;
    min-height:          100%;
    overflow:            hidden;
    //	z-index             : 5;
    background:          url(../img/bg-1.png) no-repeat;
    background-position: center -85px;
    @include Adaptive('>=1000px')
    {
        padding:             0;
        background-position: 212px -85px;
    }
}

header
{
    position:  relative;
    max-width: 1000px;
    @include Adaptive('>=ipad-P')
    {
        margin: 32px auto 26px;
    }
}

.wrapper:before,
footer:before
{
    content:          "";
    display:          block;
    background-color: #e0be80;
    height:           4px;
    width:            100%;
    top:              0;
    left:             0;
    right:            0;
    position:         absolute;
}

.wrapper:after
{
    content:    '';
    position:   absolute;
    display:    block;
    background: url(../img/bg-1.png) no-repeat;
    height:     541px;
    width:      503px;
    right:      301px;
    bottom:     -101px;
    z-index:    0;
}

.logo
{
    display: block;
    width:   210px;
    margin:  0 auto 10px;

    @include Adaptive('>=ipad-P')
    {
        margin:     0;
        position:   absolute;
        height:     134px;
        top:        -6px;
        left:       calc(50% - 96px);
        background: url(../img/logo.png) 43px 1px no-repeat;
    }

}

.logo span
{
    color:       #140f0a;
    padding:     0;
    margin:      26px 0 0 44px;
    font:        32px 'boecklins_universe';
    line-height: 32px;
    display:     inline-block;
}

.logo em
{
    color:          #767069;
    border:         none;
    font-weight:    normal;
    font-size:      15px;
    letter-spacing: 0.37em;
    line-height:    20px;
    font-style:     normal;
    display:        inline-block;
}

.logo a
{
    text-decoration: none;
    display:         block;
}

.slogan
{
    display:        none;
    text-align:     center;
    vertical-align: top;
    font-family:    'AnastasiaScript', sans-serif;
    font-size:      35px;
    padding:        0;
    color:          #9d460c;
    margin:         7px 0px 0px -8px;
    line-height:    24px;
    font-style: normal;
    @include Adaptive('>=ipad-P')
    {
        display:   inline-block;
        font-size: 42px;
    }
}

address
{
    overflow:   hidden;
    max-width:  275px;
    font-style: normal;
    margin:     0 auto;
    text-align: center;

    @include Adaptive('>=ipad-P')
    {
        float:      right;
        text-align: right;
    }
    @include Adaptive('>=1000px')
    {
        max-width: 343px;
    }
}

address .tel
{
    color:           #9d460c;
    position:        relative;
    font-size:       25px;
    line-height:     36px;
    padding:         0 0 0 30px;
    text-decoration: none;
    @include Adaptive('>=ipad-P')
    {
        float: right;
    }
    @include Adaptive('>=ipad-P')
    {
        padding:   0 0 0 32px;
        font-size: 30px;
    }
}

address .tel span
{
    font-size:   28px;
    line-height: 28px;
    font-weight: bold;
    padding:     0 0 0 5px;
    @include Adaptive('>=ipad-P')
    {
        font-size:   36px;
        line-height: 36px;
    }
}

address .tel:before
{
    content:    "";
    display:    block;
    width:      26px;
    height:     26px;
    background: url(../img/ico1.gif) no-repeat;
    position:   absolute;
    top:        3px;
    left:       1px;
    @include Adaptive('>=ipad-P')
    {
        top: 6px;
        top: 10px;
    }
}

address em
{
    display:     inline-block;
    font-size:   15px;
    line-height: 20px;
    color:       #130d0a;
    font-style:  normal;
}

#nav
{
    margin-top: 10px;
    text-align: center;
    @include Adaptive('>=ipad-P')
    {
        margin-top: 32px;
        text-align: left;
    }
}

#nav ul
{
    display:        inline-block;
    vertical-align: top;
    margin:         0;
    padding:        0;
    list-style:     none;
}

#nav li
{
    position:       relative;
    text-align:     center;
    display:        inline-block;
    vertical-align: top;
    margin:         0;
    font:           16px/44px Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight:    bold;
    @include Adaptive('>=1000px')
    {
        width:     auto;
        min-width: 114px;
    }
}

#nav li:first-child
{

    @include Adaptive('>=1000px')
    {
        margin: 0 32px 0 0;
    }
}

#nav a
{
    text-decoration: none;
    padding:         0 14px;
    color:           #110b08;
    height:          44px;
    display:         block;
    @include Adaptive('>=1000px')
    {
        padding: 0 19px;
    }
}

#nav ul a:hover,
#nav ul .selected a
{
    @extend %Button-Nice;
    border-radius: 5px;
    display:       block;
    color:         #fff;
    height:        44px;
}

#nav ul a.Active
{
    @extend %Button-Nice;
    border-radius: 5px;
    display:       block;
    color:         #fff;
    height:        44px;
    transition : gradient linear .6s;
    color      : white;
    background : rgba(235, 205, 153, 1);
    background : -moz-linear-gradient(-45deg, rgba(235, 205, 153, 1) 0%, rgba(235, 205, 153, 1) 0%, rgba(235, 205, 153, 1) 25%, rgba(226, 195, 140, 1) 30%, rgba(199, 165, 102, 1) 45%, rgba(199, 165, 102, 1) 50%, rgba(199, 165, 102, 1) 60%, rgba(211, 178, 119, 1) 65%, rgba(235, 205, 153, 1) 75%, rgba(235, 205, 153, 1) 80%, rgba(235, 205, 153, 1) 100%);
    background : -webkit-gradient(left top, right bottom, color-stop(0%, rgba(235, 205, 153, 1)), color-stop(0%, rgba(235, 205, 153, 1)), color-stop(25%, rgba(235, 205, 153, 1)), color-stop(30%, rgba(226, 195, 140, 1)), color-stop(45%, rgba(199, 165, 102, 1)), color-stop(50%, rgba(199, 165, 102, 1)), color-stop(60%, rgba(199, 165, 102, 1)), color-stop(65%, rgba(211, 178, 119, 1)), color-stop(75%, rgba(235, 205, 153, 1)), color-stop(80%, rgba(235, 205, 153, 1)), color-stop(100%, rgba(235, 205, 153, 1)));
    background : -webkit-linear-gradient(-45deg, rgba(235, 205, 153, 1) 0%, rgba(235, 205, 153, 1) 0%, rgba(235, 205, 153, 1) 25%, rgba(226, 195, 140, 1) 30%, rgba(199, 165, 102, 1) 45%, rgba(199, 165, 102, 1) 50%, rgba(199, 165, 102, 1) 60%, rgba(211, 178, 119, 1) 65%, rgba(235, 205, 153, 1) 75%, rgba(235, 205, 153, 1) 80%, rgba(235, 205, 153, 1) 100%);
    background : -o-linear-gradient(-45deg, rgba(235, 205, 153, 1) 0%, rgba(235, 205, 153, 1) 0%, rgba(235, 205, 153, 1) 25%, rgba(226, 195, 140, 1) 30%, rgba(199, 165, 102, 1) 45%, rgba(199, 165, 102, 1) 50%, rgba(199, 165, 102, 1) 60%, rgba(211, 178, 119, 1) 65%, rgba(235, 205, 153, 1) 75%, rgba(235, 205, 153, 1) 80%, rgba(235, 205, 153, 1) 100%);
    background : -ms-linear-gradient(-45deg, rgba(235, 205, 153, 1) 0%, rgba(235, 205, 153, 1) 0%, rgba(235, 205, 153, 1) 25%, rgba(226, 195, 140, 1) 30%, rgba(199, 165, 102, 1) 45%, rgba(199, 165, 102, 1) 50%, rgba(199, 165, 102, 1) 60%, rgba(211, 178, 119, 1) 65%, rgba(235, 205, 153, 1) 75%, rgba(235, 205, 153, 1) 80%, rgba(235, 205, 153, 1) 100%);
    background : linear-gradient(135deg, rgba(235, 205, 153, 1) 0%, rgba(235, 205, 153, 1) 0%, rgba(235, 205, 153, 1) 25%, rgba(226, 195, 140, 1) 30%, rgba(199, 165, 102, 1) 45%, rgba(199, 165, 102, 1) 50%, rgba(199, 165, 102, 1) 60%, rgba(211, 178, 119, 1) 65%, rgba(235, 205, 153, 1) 75%, rgba(235, 205, 153, 1) 80%, rgba(235, 205, 153, 1) 100%);
    filter     : progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebcd99', endColorstr='#ebcd99', GradientType=1);
}


#nav ul:last-child
{

    @include Adaptive('>=ipad-P')
    {
        float:    right;
        overflow: inherit;
    }
}

#nav ul:last-child li:first-child
{

    @include Adaptive('>=1000px')
    {
        margin: 0 19px 0 0;
    }
}

#nav ul:last-child li
{
    margin: 0;
}

main
{
    max-width:      1000px;
    width:          100%;
    margin:         0 auto;
    overflow:       hidden;
    padding-bottom: 218px;
    //position       : relative;
    z-index:        5;
    @include Adaptive('>=1000px')
    {
    }
}

.sidebar
{
    padding:   15px 0 18px;
    position:  relative;
    font-size: 0;
    @include Adaptive('>=1000px')
    {
        width:   260px;
        padding: 0 0 18px;
    }
    @at-root .Sidebar-Cell
    {

        @include Adaptive('>=tablet')
        {
            display:        inline-block;
            width:          50%;
            vertical-align: top;
        }

        @include Adaptive('>=1000px')
        {
            display: block;
            width:   100%;
        }

        a h3
        {
            cursor: pointer;
        }

    }

}

.sidebar-nav
{
    margin: 0 0 22px;
}

.sidebar-nav ul
{
    list-style: none;
    margin:     0;
    padding:    0;
}

.sidebar-nav li
{
    display:     block;
    font-size:   16px;
    line-height: 16px;
    margin:      0 0 -1px;
}

.sidebar-nav a
{
    color:           #3a3a3a;
    text-decoration: none;
    display:         inline-block;
    padding:         6px 9px;
}

.sidebar-nav li.selected a,
.sidebar-nav ul a:hover
{
    @extend %Button-Nice;

    border-radius: 5px;
    color:         #fff;
    padding:       6px 9px;
}

.sidebar-nav ul a.Active{
    border-radius: 5px;
    color:         #fff;
    padding:       6px 9px;
    transition : gradient linear .6s;
    color      : white;
    background : rgba(235, 205, 153, 1);
    background : -moz-linear-gradient(-45deg, rgba(235, 205, 153, 1) 0%, rgba(235, 205, 153, 1) 0%, rgba(235, 205, 153, 1) 25%, rgba(226, 195, 140, 1) 30%, rgba(199, 165, 102, 1) 45%, rgba(199, 165, 102, 1) 50%, rgba(199, 165, 102, 1) 60%, rgba(211, 178, 119, 1) 65%, rgba(235, 205, 153, 1) 75%, rgba(235, 205, 153, 1) 80%, rgba(235, 205, 153, 1) 100%);
    background : -webkit-gradient(left top, right bottom, color-stop(0%, rgba(235, 205, 153, 1)), color-stop(0%, rgba(235, 205, 153, 1)), color-stop(25%, rgba(235, 205, 153, 1)), color-stop(30%, rgba(226, 195, 140, 1)), color-stop(45%, rgba(199, 165, 102, 1)), color-stop(50%, rgba(199, 165, 102, 1)), color-stop(60%, rgba(199, 165, 102, 1)), color-stop(65%, rgba(211, 178, 119, 1)), color-stop(75%, rgba(235, 205, 153, 1)), color-stop(80%, rgba(235, 205, 153, 1)), color-stop(100%, rgba(235, 205, 153, 1)));
    background : -webkit-linear-gradient(-45deg, rgba(235, 205, 153, 1) 0%, rgba(235, 205, 153, 1) 0%, rgba(235, 205, 153, 1) 25%, rgba(226, 195, 140, 1) 30%, rgba(199, 165, 102, 1) 45%, rgba(199, 165, 102, 1) 50%, rgba(199, 165, 102, 1) 60%, rgba(211, 178, 119, 1) 65%, rgba(235, 205, 153, 1) 75%, rgba(235, 205, 153, 1) 80%, rgba(235, 205, 153, 1) 100%);
    background : -o-linear-gradient(-45deg, rgba(235, 205, 153, 1) 0%, rgba(235, 205, 153, 1) 0%, rgba(235, 205, 153, 1) 25%, rgba(226, 195, 140, 1) 30%, rgba(199, 165, 102, 1) 45%, rgba(199, 165, 102, 1) 50%, rgba(199, 165, 102, 1) 60%, rgba(211, 178, 119, 1) 65%, rgba(235, 205, 153, 1) 75%, rgba(235, 205, 153, 1) 80%, rgba(235, 205, 153, 1) 100%);
    background : -ms-linear-gradient(-45deg, rgba(235, 205, 153, 1) 0%, rgba(235, 205, 153, 1) 0%, rgba(235, 205, 153, 1) 25%, rgba(226, 195, 140, 1) 30%, rgba(199, 165, 102, 1) 45%, rgba(199, 165, 102, 1) 50%, rgba(199, 165, 102, 1) 60%, rgba(211, 178, 119, 1) 65%, rgba(235, 205, 153, 1) 75%, rgba(235, 205, 153, 1) 80%, rgba(235, 205, 153, 1) 100%);
    background : linear-gradient(135deg, rgba(235, 205, 153, 1) 0%, rgba(235, 205, 153, 1) 0%, rgba(235, 205, 153, 1) 25%, rgba(226, 195, 140, 1) 30%, rgba(199, 165, 102, 1) 45%, rgba(199, 165, 102, 1) 50%, rgba(199, 165, 102, 1) 60%, rgba(211, 178, 119, 1) 65%, rgba(235, 205, 153, 1) 75%, rgba(235, 205, 153, 1) 80%, rgba(235, 205, 153, 1) 100%);
    filter     : progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebcd99', endColorstr='#ebcd99', GradientType=1);

}

.sidebar .news
{
    margin: 0 0 13px;
    a
    {
        font-size: 15px;
        &:hover
        {
            text-decoration: underline;
        }
    }
}

.sidebar .news h3
{
    margin: 0 0 15px;
}

.sidebar .news ul
{
    list-style: none;
    margin:     0;
    padding:    0;
}

.sidebar .news li
{
    margin: 0 0 9px;
}

.sidebar .news li .date
{
    color:       #9c793a;
    font-size:   14px;
    line-height: 26px;
}

.sidebar .news li .title
{
    font-size:       15px;
    line-height:     20px;
    display:         block;
    text-decoration: none;
}

.sidebar .news li .title:hover
{
    text-decoration: underline;
}

.sidebar2 .news
{
    margin: 0 0 13px;
}

.sidebar2 .news h3
{
    margin: 0 0 15px;
}

.sidebar2 .news ul
{
    list-style: none;
    margin:     0;
    padding:    0;
}

.sidebar2 .news li
{
    margin:              0 0 9px;
    list-style-position: inside;
}

.sidebar2 .news li .date
{
    color:       #9c793a;
    font-size:   14px;
    line-height: 26px;
}

.sidebar2 .news li .title
{
    font-size:       15px;
    line-height:     20px;
    display:         block;
    text-decoration: none;
}

.sidebar2 .news li .title:hover
{
    text-decoration: underline;
}

.sidebar .more
{
    text-decoration: none;
    color:           #9c793a;
}

.sidebar .more:hover
{
    text-decoration: underline;
}

.sidebar .promo
{
    position:      relative;
    height:        117px;
    margin:        0 0 30px;
    max-width:     260px;
    padding-right: 12px;
    border-radius: 5px;
    background:    rgba(235, 205, 153, 1);
    background:    -moz-linear-gradient(-45deg, rgba(235, 205, 153, 1) 0%, rgba(235, 205, 153, 1) 0%, rgba(235, 205, 153, 1) 25%, rgba(226, 195, 140, 1) 30%, rgba(199, 165, 102, 1) 45%, rgba(199, 165, 102, 1) 50%, rgba(199, 165, 102, 1) 60%, rgba(211, 178, 119, 1) 65%, rgba(235, 205, 153, 1) 75%, rgba(235, 205, 153, 1) 80%, rgba(235, 205, 153, 1) 100%);
    background:    -webkit-gradient(left top, right bottom, color-stop(0%, rgba(235, 205, 153, 1)), color-stop(0%, rgba(235, 205, 153, 1)), color-stop(25%, rgba(235, 205, 153, 1)), color-stop(30%, rgba(226, 195, 140, 1)), color-stop(45%, rgba(199, 165, 102, 1)), color-stop(50%, rgba(199, 165, 102, 1)), color-stop(60%, rgba(199, 165, 102, 1)), color-stop(65%, rgba(211, 178, 119, 1)), color-stop(75%, rgba(235, 205, 153, 1)), color-stop(80%, rgba(235, 205, 153, 1)), color-stop(100%, rgba(235, 205, 153, 1)));
    background:    -webkit-linear-gradient(-45deg, rgba(235, 205, 153, 1) 0%, rgba(235, 205, 153, 1) 0%, rgba(235, 205, 153, 1) 25%, rgba(226, 195, 140, 1) 30%, rgba(199, 165, 102, 1) 45%, rgba(199, 165, 102, 1) 50%, rgba(199, 165, 102, 1) 60%, rgba(211, 178, 119, 1) 65%, rgba(235, 205, 153, 1) 75%, rgba(235, 205, 153, 1) 80%, rgba(235, 205, 153, 1) 100%);
    background:    -o-linear-gradient(-45deg, rgba(235, 205, 153, 1) 0%, rgba(235, 205, 153, 1) 0%, rgba(235, 205, 153, 1) 25%, rgba(226, 195, 140, 1) 30%, rgba(199, 165, 102, 1) 45%, rgba(199, 165, 102, 1) 50%, rgba(199, 165, 102, 1) 60%, rgba(211, 178, 119, 1) 65%, rgba(235, 205, 153, 1) 75%, rgba(235, 205, 153, 1) 80%, rgba(235, 205, 153, 1) 100%);
    background:    -ms-linear-gradient(-45deg, rgba(235, 205, 153, 1) 0%, rgba(235, 205, 153, 1) 0%, rgba(235, 205, 153, 1) 25%, rgba(226, 195, 140, 1) 30%, rgba(199, 165, 102, 1) 45%, rgba(199, 165, 102, 1) 50%, rgba(199, 165, 102, 1) 60%, rgba(211, 178, 119, 1) 65%, rgba(235, 205, 153, 1) 75%, rgba(235, 205, 153, 1) 80%, rgba(235, 205, 153, 1) 100%);
    background:    linear-gradient(135deg, rgba(235, 205, 153, 1) 0%, rgba(235, 205, 153, 1) 0%, rgba(235, 205, 153, 1) 25%, rgba(226, 195, 140, 1) 30%, rgba(199, 165, 102, 1) 45%, rgba(199, 165, 102, 1) 50%, rgba(199, 165, 102, 1) 60%, rgba(211, 178, 119, 1) 65%, rgba(235, 205, 153, 1) 75%, rgba(235, 205, 153, 1) 80%, rgba(235, 205, 153, 1) 100%);
    filter:        progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebcd99', endColorstr='#ebcd99', GradientType=1);

    img
    {
        position: absolute;
        top:      -15px;
    }

}

.sidebar .promo .text
{
    font:       bold 22px/22px Arial, Helvetica, sans-serif;
    display:    inline-block;
    color:      #fff;
    text-align: right;
    margin:     33px 0 0 0;
    float:      right;
}

.sidebar .promo .link
{
    background:    #9f7243;
    color:         #fff;
    border-radius: 2px;
    border:        none;
    font:          bold 13px/28px Arial, Helvetica, sans-serif;
    float:         right;
    position:      relative;
    margin-top:    9px;
    padding:       0 21px 0 12px;
    cursor:        pointer;
}

.sidebar .promo .link:after
{
    content:    "";
    background: url(../img/img.png) no-repeat;
    display:    block;
    width:      7px;
    height:     7px;
    position:   absolute;
    top:        11px;
    right:      11px;
}

.sidebar .promo .link:hover
{
    opacity: 0.75;
}

.content
{
    @extend %Control-Right;
}

.content .flexslider
{
    margin: 0 0 45px;
}

.content .sign_holder
{
    float:      right;
    text-align: right;
}

.content .sign_holder img
{
    margin: 0 13px 0 0;
}

.sign_holder span
{
    font-size:   15px;
    display:     block;
    line-height: 40px;
    margin:      0 0 4px;
}

#footer
{
    height:     117px;
    overflow:   hidden;
    color:      #150f0c;
    z-index:    10;
    position:   relative;
    margin-top: -164px;
    padding:    35px 0 0 0;
}

.footer-holder
{
    margin:    0 auto;
    max-width: 1000px;
}

.footer-box
{
    float:  left;
    margin: 0 37px 0 0;
}

.footer-box .copyright
{
    font-size:   15px;
    line-height: 26px;
    padding:     0;
    color:       #110b08;
    display:     block;
    float:       none;
}

.footer-box span
{
    font-size:   14px;
    line-height: 20px;
    display:     block;
}

.footer-box .copyright a
{
    color:           #110b08;
    text-decoration: none;
}

.copyright
{
    font-size:   14px;
    line-height: 22px;
    padding:     0;
    float:       right;
    font-style:  normal;
}

.copyright a
{
    color:           #150f0c;
    text-decoration: none;
}

.copyright a:hover
{
    text-decoration: underline;
}

.stitle
{
    cursor:      pointer;
    font-size:   15px;
    font-weight: bold;
    line-height: 25px;
    padding:     3px;
}

.dtitle
{
    font-size:   15px;
    font-weight: bold;
    line-height: 25px;
    padding:     3px;
}

.dtitle a
{
    text-decoration: none;
}

.tg
{
    border-collapse: collapse;
    border-spacing:  0;
}

.tg td
{
    font-family:  Arial, sans-serif;
    font-size:    14px;
    padding:      5px 10px;
    border-style: solid;
    border-width: 0px;
    overflow:     hidden;
    word-break:   normal;
}