.flex-control-nav,
.flex-direction-nav
{
	margin     : 0;
	padding    : 0;
	list-style : none;
}

/* ====================================================================================================================
* DEFAULT THEME
* ====================================================================================================================*/
.Saloon-Slider
{
	margin-bottom         : 60px;
	border                : 4px solid #debe82;
	position              : relative;
	-webkit-border-radius : 4px;
	-moz-border-radius    : 4px;
	border-radius         : 4px;
	-webkit-box-shadow    : inset 0 1px 4px rgba(0, 0, 0, 0.2);
	-moz-box-shadow       : inset 0 1px 4px rgba(0, 0, 0, 0.2);
	-o-box-shadow         : inset 0 1px 4px rgba(0, 0, 0, 0.2);
	box-shadow            : inset 0 1px 4px rgba(0, 0, 0, 0.2);
}

.flex-direction-nav svg
{
	display            : block;
	width              : 40px;
	height             : 40px;
	margin             : -5px 0 0;
	position           : absolute;
	top                : 50%;
	z-index            : 10;
	overflow           : visible;
	opacity            : 0;
	cursor             : pointer;
	color              : rgba(0, 0, 0, 0.8);
	text-shadow        : 1px 1px 0 rgba(255, 255, 255, 0.3);
	-webkit-transition : all 0.3s ease-in-out;
	-moz-transition    : all 0.3s ease-in-out;
	-ms-transition     : all 0.3s ease-in-out;
	-o-transition      : all 0.3s ease-in-out;
	transition         : all 0.3s ease-in-out;
	fill               : black;
	stroke             : rgba(255, 255, 255, .3);
	stroke-width       : 7px;
	width              : 40px;
	height             : 40px;
}

.Saloon-Slider .flex-prev
{
	left      : -50px;
	transform : rotate(180deg);
}

.flex-direction-nav .flex-next
{
	right      : -50px;
	text-align : right;
}

.Saloon-Slider:hover .flex-direction-nav .flex-prev
{
	opacity : 0.7;
	left    : 10px;
}

.Saloon-Slider:hover .flex-direction-nav .flex-prev:hover,.Saloon-Slider:hover .flex-direction-nav .flex-next:hover
{
	opacity : 1;
}

.Saloon-Slider:hover .flex-direction-nav .flex-next
{
	opacity : 0.7;
	right   : 10px;
}

.Slider-Nav
{
	width      : 100%;
	position   : absolute;
	bottom     : -50px;
	text-align : center;
	padding    : 0;
	cursor: default;
}

.Slider-Nav li
{
	@extend %Unselectable;
	margin                : 0 6px;
	display               : inline-block;
	width                 : 11px;
	height                : 11px;
	background            : #666;
	background            : rgba(0, 0, 0, 0.5);
	cursor                : pointer;
	-webkit-box-shadow    : inset 0 0 3px rgba(0, 0, 0, 0.3);
	-moz-box-shadow       : inset 0 0 3px rgba(0, 0, 0, 0.3);
	-o-box-shadow         : inset 0 0 3px rgba(0, 0, 0, 0.3);
	box-shadow            : inset 0 0 3px rgba(0, 0, 0, 0.3);
	-webkit-border-radius : 50%;
	-moz-border-radius    : 50%;
	border-radius         : 50%;
}

.Slider-Nav li:hover
{
	background : #333;
	background : rgba(0, 0, 0, 0.7);
}

.Slider-Nav li.Active
{
	background : #000;
	background : rgba(0, 0, 0, 0.9);
	cursor     : default;
}


/* ====================================================================================================================
* RESPONSIVE
* ====================================================================================================================*/
@include Adaptive('<1000px'){
	.flex-direction-nav .flex-prev
	{
		opacity : 1;
		left    : 10px;
	}
	.flex-direction-nav .flex-next
	{
		opacity : 1;
		right   : 10px;
	}
}
