.JS-Modal
{
    visibility:       hidden;
    position:         fixed;
    opacity:          0;
    z-index:          1000;
    top:              0;
    left:             0;
    right:            0;
    width:            100%;
    height:           100%;
    background-color: rgba(0, 0, 0, .3);
    transition:       all 0.7s ease;
    perspective:      3000px;
}

.JS-Modal.Visible
{
    visibility: visible;
    opacity:    1;
}

.JS-Modal-Box
{
    position:         relative;
    width:            600px;
    height:           400px;
    top:              20%;
    margin:           0 auto;

    box-sizing:       border-box;

    background-color: #eee;
    transition:       all 0.6s ease;
    transform:        rotateX(90deg);

    @include Adaptive("<=tablet")
    {
        position: relative;
        width:    100%;
        height:   100%;
        left:     0;
        right:    0;
        top:      0;
        bottom:   0;
    }
}

.JS-Modal.Visible .JS-Modal-Box
{
    transform:  rotateX(0deg);
    transition: all 0.7s ease;
}

.Section-Slider-Item
{
    position:            absolute;
    width:               100%;
    height:              100%;
    top:                 0;

    background-size:     cover;
    background-position: center;
}

.JS-Carousel.flex-direction-nav .flex-next
{
    right:   20px;
    opacity: 1;
    margin: -20px 0 0;
    &:hover
    {
        fill: #fff;
    }
}

.JS-Carousel.flex-direction-nav .flex-prev
{
    left:      20px;
    opacity:   1;
    transform: rotate(180deg);
    margin: -20px 0 0;
    &:hover
    {
        fill: #fff;
    }
}

.Menu-List
{

    height     : 0;
    display    : none;

    transition : height 0.2s;
}